<div class="page container mt-5">
    <div class="calendar col-lg-6 col-md-8 col-sm-12">
        <h3 class="text-center pt-3">September</h3>
        <div>
            <span>F</span>
            <span>S</span>
            <span>S</span>
            <span>M</span>
            <span>T</span>
            <span>W</span>
            <span>T</span>
            <span>F</span>
            
            <span>13</span>
            <span >14</span>
            <span class="active-week">15</span>
            <span class="active-week">16</span>
            <span class="active-week">17</span>
            <span class="active-week active">18</span>
            <span class="active-week">19</span>
            <span class="active-week">20</span>
        </div>

    </div>
    <div class="AddTodoForm col-lg-6 col-md-8 col-sm-12">
        
        <div class="AddTodoForm-item">
            <input type="text" [(ngModel)]="todoItem.title"  name="title" class="form-control" id="" placeholder="Title">  
        </div>
    
        <div class="AddTodoForm-item">
            <div class="mb-3">
                <img src="assets/google-docs-1.svg" alt="" class="">
                <span class="AddTodoForm-text">Description</span> 
            </div>
             
            <textarea [(ngModel)]="todoItem.description" type="text" name="" id="" class="form-control" placeholder="Description"></textarea>
        </div>
    
        <div class="AddTodoForm-item">
            <div class="mb-3">
                <img src="assets/folder.svg" alt="">
                <span class="AddTodoForm-text">Projects</span>  
            </div>

            <input [(ngModel)]="todoItem.Project" type="text" class="form-control" name="Project" id="" placeholder="Project">  
        </div>
    
        <div class="AddTodoForm-item">
            <div class="mb-3">
                <img src="assets/tag.svg" alt="">
                <span class="AddTodoForm-text">Tags</span>  
            </div>
            <div>
                <div *ngFor="let tag of todoItem.tags;let index=index;" 
                [style.background-color]="tag.color" 
                class="tag">{{tag.text}} 
                <span class="delete-tag" (click)="RemoveTag(index)">x</span>
            </div>
            </div>
            <app-add-tags (onAddTag)="onAddTag($event)"></app-add-tags>
            <div class="add-tags"  data-toggle="modal" data-target="#myModal">
                <span class="add-tags-icon">+</span>
                <span class="add-tags-text">Add Tags</span>
            </div>
            
        </div>

     <div class="text-center p-4">
        <button class="Finish-btn" *ngIf="!todoItem.id" (click)="addItem()">
            Finish
        </button>

        <button class="Finish-btn" *ngIf="todoItem.id" (click)="updateItem()">
            Update
        </button>

        <span class="remove-item" *ngIf="todoItem.id" (click)="removeItem(todoItem.id)">Remove</span>
        
     </div>

        
    </div>
    

</div>