.calendar{
    margin: auto;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.07), 0 6px 20px 0 rgba(0, 0, 0, 0.07);
    margin-bottom: 10px;
}
.calendar div{
    width: 460px;
    display: inline-block;
    margin-bottom: 30px;
}
.calendar span{
    float: left;
    width: 55px;
    height: 55px;
    text-align: center;
    padding: 10px;
    font-size: 22px;
    color: rgba(0,0,0,0.25);
}
.calendar span.active-week{
    color: #000;
}
.calendar span.active{
    color: #fff;
    background-color: #ff4e6a;
    border-radius: 100%;
}


.AddTodoForm{
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.07), 0 6px 20px 0 rgba(0, 0, 0, 0.07);
    padding: 50px 30px 0px 30px;
    margin-bottom: 20px;
    
}
.AddTodoForm-item{
    display: inline-grid;
    width: 100%;
    padding: 10px;
}
.AddTodoForm-text{
    float: left;
    color: rgba(0,0,0,0.2);
}
.AddTodoForm-item input, .AddTodoForm-item textarea{
    float: left;
    padding-left: 20px;
    border: 0;
    border-bottom: 2px solid rgba(0,0,0,0.1);
    border-radius: 0;
    box-shadow: none;
}
.AddTodoForm-item input[name="title"]{
  font-size: 32px;;  
}
.AddTodoForm-item img{
    width: 20px;
    float: left;
    margin-right: 10px;
}
.add-tags{
    margin-left: 20px;
}
.add-tags-icon{
    color: #ff4e6a;
    float: left;
    font-size: 30px;
    cursor: pointer;
}
.add-tags-text{
    color: #000;
    float: left;
    margin: 10px 5px;
    cursor: pointer;
}
.Finish-btn{
    background: #ff4e6a;
    border: 0;
    color: #fff;
    padding: 10px 50px;
    border-radius: 5px;
    font-size: 20px;
}

.tag{
    float: left;
    color: #fff;
    padding: 1px 5px;
    font-size: 17px;
    border-radius: 3px;
    margin-left: 8px;
}
.delete-tag{
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}

.remove-item{
    float: right;
    color: #ff4e6a;
    font-weight: bold;
    margin-top: 13px;
    cursor: pointer;
}